@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-red: #890b11;
    --secondary-red: #fddedf;
    --primary-white: #ffffff;
    --primary-black: #000000;
  }
}

::-webkit-scrollbar {
  display: none;
}

.theme-icon.hovered .sun-icon,
.theme-icon.hovered .moon-icon {
  color: var(--primary-red);
}

.theme-icon.hovered span {
  color: var(--primary-red);
}
